# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# Xilinx tempolary files
*.xaw
!ckgen.xaw
/_ngo/
/_xmsgs/
/iseconfig/
/planAhead_run_1/*
!/planAhead_run_1/elab_constrs_1.ucf
/ScanConv_xdb/
/templates/
/xlnx_auto_0_xdb/
/xst/
*.xml
*.html
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.ntrc_log
*.pad
*.par
*.pcf
*.xrpt
*.log
*.xwbt
*.sig
*.stx
*.syr
*.unroutes
*.tcl
*.xpi
*_map.*
*_pad.*
*_vhdl.*
*_arwz.*
*.cfi
*.drc
*.restore
*.ptwx
*.gise
*.cmd_log
*.twr
*.twx
*.xst
*.lso
*.bld
*.prj
*.ut
*.prm
*.bgn
*.cmd
_pace.ucf
output.txt
*.xsl
*.vhi
