NET "BI" LOC = P63;
NET "BO[0]" LOC = P41;
NET "BO[1]" LOC = P36;
NET "BO[2]" LOC = P34;
NET "BO[3]" LOC = P32;
NET "CLK" LOC = P88;
NET "GI" LOC = P61;
NET "GO[0]" LOC = P27;
NET "GO[1]" LOC = P24;
NET "GO[2]" LOC = P22;
NET "GO[3]" LOC = P17;
NET "HSI" LOC = P68;
NET "HSO" LOC = P91;
NET "II" LOC = P54;
NET "LED" LOC = P98;
NET "RI" LOC = P58;
NET "RO[0]" LOC = P12;
NET "RO[1]" LOC = P10;
NET "RO[2]" LOC = P5;
NET "RO[3]" LOC = P3;
NET "VSI" LOC = P70;
NET "VSO" LOC = P94;
NET "SW[7]" LOC = P53;
NET "SW[8]" LOC = P57;
NET "SW[9]" LOC = P60;
NET "SW[10]" LOC = P62;
NET "SW[11]" LOC = P65;
NET "SW[12]" LOC = P67;
NET "SW[1]" LOC = P69;
NET "SW[2]" LOC = P71;
NET "SW[3]" LOC = P79;
NET "SW[4]" LOC = P85;
NET "SW[5]" LOC = P90;
NET "SW[6]" LOC = P92;
NET "RO[0]" IOSTANDARD = LVTTL;
NET "RO[0]" DRIVE = 12;
NET "RO[0]" SLEW = FAST;
NET "RO[1]" IOSTANDARD = LVTTL;
NET "RO[1]" DRIVE = 12;
NET "RO[1]" SLEW = FAST;
NET "RO[2]" IOSTANDARD = LVTTL;
NET "RO[2]" DRIVE = 12;
NET "RO[2]" SLEW = FAST;
NET "RO[3]" IOSTANDARD = LVTTL;
NET "RO[3]" DRIVE = 12;
NET "RO[3]" SLEW = FAST;
NET "GO[0]" IOSTANDARD = LVTTL;
NET "GO[0]" DRIVE = 12;
NET "GO[0]" SLEW = FAST;
NET "GO[1]" IOSTANDARD = LVTTL;
NET "GO[1]" DRIVE = 12;
NET "GO[1]" SLEW = FAST;
NET "GO[2]" IOSTANDARD = LVTTL;
NET "GO[2]" DRIVE = 12;
NET "GO[2]" SLEW = FAST;
NET "GO[3]" IOSTANDARD = LVTTL;
NET "GO[3]" DRIVE = 12;
NET "GO[3]" SLEW = FAST;
NET "BO[0]" IOSTANDARD = LVTTL;
NET "BO[0]" DRIVE = 12;
NET "BO[0]" SLEW = FAST;
NET "BO[1]" IOSTANDARD = LVTTL;
NET "BO[1]" DRIVE = 12;
NET "BO[1]" SLEW = FAST;
NET "BO[2]" IOSTANDARD = LVTTL;
NET "BO[2]" DRIVE = 12;
NET "BO[2]" SLEW = FAST;
NET "BO[3]" IOSTANDARD = LVTTL;
NET "BO[3]" DRIVE = 12;
NET "BO[3]" SLEW = FAST;
NET "SW[1]" IOSTANDARD = LVTTL;
NET "SW[1]" PULLUP;
NET "SW[2]" IOSTANDARD = LVTTL;
NET "SW[2]" PULLUP;
NET "SW[3]" IOSTANDARD = LVTTL;
NET "SW[3]" PULLUP;
NET "SW[4]" IOSTANDARD = LVTTL;
NET "SW[4]" PULLUP;
NET "SW[5]" IOSTANDARD = LVTTL;
NET "SW[5]" PULLUP;
NET "SW[6]" IOSTANDARD = LVTTL;
NET "SW[6]" PULLUP;
NET "SW[7]" IOSTANDARD = LVTTL;
NET "SW[7]" PULLUP;
NET "SW[8]" IOSTANDARD = LVTTL;
NET "SW[8]" PULLUP;
NET "SW[9]" IOSTANDARD = LVTTL;
NET "SW[9]" PULLUP;
NET "SW[10]" IOSTANDARD = LVTTL;
NET "SW[10]" PULLUP;
NET "SW[11]" IOSTANDARD = LVTTL;
NET "SW[11]" PULLUP;
NET "SW[12]" IOSTANDARD = LVTTL;
NET "SW[12]" PULLUP;
NET "CLK" IOSTANDARD = LVTTL;
NET "RI" IOSTANDARD = LVTTL;
NET "GI" IOSTANDARD = LVTTL;
NET "BI" IOSTANDARD = LVTTL;
NET "II" IOSTANDARD = LVTTL;
NET "VSI" IOSTANDARD = LVTTL;
NET "HSI" IOSTANDARD = LVTTL;
NET "VSO" IOSTANDARD = LVTTL;
NET "VSO" DRIVE = 12;
NET "VSO" SLEW = FAST;
NET "HSO" IOSTANDARD = LVTTL;
NET "HSO" DRIVE = 12;
NET "HSO" SLEW = FAST;
NET "LED" IOSTANDARD = LVTTL;
NET "LED" DRIVE = 12;
NET "LED" SLEW = FAST;
